*, *::befor, *::after{
   box-sizing: border-box;
   font-family:  'Arial Narrow', sans-serif;
   font-weight : normal;
}


body {
    padding:0;
    margin:0;
    background: linear-gradient( to right, rgb(99, 12, 12),rgb(241, 187, 7))
}


.calculator-grid{
    display: grid;
    justify-content:center;
    align-content:center;
    min-height: 100vh;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: minmax(120px, auto) ;
    font-family:  'Arial Narrow', sans-serif;
}

.calculator-grid> button{
    user-select:none;
    cursor: pointer;
    font-size: 3rem;
    border: 1px solid white;
    outline : none;
    background-color: rgba(255,255,255,.75);
}
.calculator-grid> button:hover{
    background-color: rgba(255,255,255,.99)
}
.span-two{
    grid-column: span 2;
    color: rgba(41, 134, 241, 0.99);

}

.output{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around ;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255,255,255,.65);
    font-size: 1rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}